<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    verbose="true"
    bootstrap="tests/application/bootstrap.php"
>
    <testsuites>
        <testsuite name="models">
            <directory>tests/application/models</directory>
            <exclude>tests/application/models/Gateway</exclude>
        </testsuite>
        <testsuite name="database">
            <directory>tests/application/models/Gateway</directory>
            <directory>tests/application/modules</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Mandragora\PHPUnit\Listener"/>
    </listeners>
</phpunit>
