#aguascalientes {
    top: 203px;
    left: 235px;
}
#legend-aguascalientes {
    width: 9em;
}
#baja-california-norte {
    top: 53px;
    left: 38px;
}
#legend-baja-california-norte {
    width: 12.5em;
}
#baja-california-sur {
    top: 143px;
    left: 90px;
}
#legend-baja-california-sur {
    width: 11.1em;
}
#campeche {
    top: 255px;
    left: 435px;
}
#legend-campeche {
    width: 6.1em;
}
#chiapas {
    top: 300px;
    left: 395px;
}
#legend-chiapas {
    width: 4em;
}
#chihuahua {
    top: 70px;
    left: 170px;
}
#legend-chihuahua {
    width: 5em;
}
#coahuila {
    top: 100px;
    left: 240px;
}
#legend-coahuila {
    width: 4em;
}
#colima {
    top: 255px;
    left: 210px;
}
#legend-colima {
    width: 4em;
}
#df {
    top: 252px;
    left: 290px;
}
#legend-df {
    width: 4em;
}
#durango {
    top: 170px;
    left: 190px;
}
#legend-durango {
    width: 5em;
}
#guanajuato {
    top: 220px;
    left: 255px;
}
#legend-guanajuato {
    width: 5em;
}
#guerrero {
    top: 280px;
    left: 270px;
}
#legend-guerrero {
    width: 5em;
}
#hidalgo {
    top: 235px;
    left: 290px;
}
#legend-hidalgo {
    width: 5em;
}
#jalisco {
    top: 230px;
    left: 220px;
}
#legend-jalisco {
    width: 4em;
}
#mexico {
    top: 250px;
    left: 280px;
}
#legend-mexico {
    width: 4em;
}
#michoacan {
    top: 255px;
    left: 250px;
}
#legend-michoacan {
    width: 5em;
}
#morelos {
    top: 262px;
    left: 290px;
}
#legend-morelos {
    width: 5em;
}
#nayarit {
    top: 210px;
    left: 195px;
}
#legend-nayarit {
    width: 4em;
}
#nuevo-leon {
    top: 135px;
    left: 265px;
}
#legend-nuevo-leon {
    width: 6em;
}
#oaxaca {
    top: 290px;
    left: 330px;
}
#legend-oaxaca {
    width: 5em;
}
#puebla {
    top: 260px;
    left: 305px;
}
#legend-puebla {
    width: 4em;
}
#queretaro {
    top: 224px;
    left: 275px;
}
#legend-queretaro {
    width: 5em;
}
#quintana-roo {
    top: 228px;
    left: 470px;
}
#legend-quintana-roo {
    width: 8em;
}
#san-luis-potosi {
    top: 200px;
    left: 260px;
}
#legend-san-luis-potosi {
    width: 8em;
}
#sinaloa {
    top: 150px;
    left: 153px;
}
#legend-sinaloa {
    width: 4em;
}
#sonora {
    top: 90px;
    left: 110px;
}
#legend-sonora {
    width: 4em;
}
#tabasco {
    top: 265px;
    left: 394px;
}
#legend-tabasco {
    width: 5em;
}
#tamaulipas {
    top: 165px;
    left: 290px;
}
#legend-tamaulipas {
    width: 5em;
}
#tlaxcala {
    top: 245px;
    left: 305px;
}
#legend-tlaxcala {
    width: 5em;
}
#veracruz {
    top: 252px;
    left: 330px;
}
#legend-veracruz {
    width: 5.2em;
}
#yucatan {
    top: 218px;
    left: 453px;
}
#legend-yucatan {
    width: 4em;
}
#zacatecas {
    top: 180px;
    left: 230px;
}
#legend-zacatecas {
    width: 4em;
}
